<!DOCTYPE html>
<html>
  {% include head.html %}
  <meta name="google-site-verification" content="9uVhvx3B1oK8fYv2ZWCQ4Xx6aAYs3S5loiKATPWwN2o" />
  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
